.env
.claude 
openpi-leisaac/
lerobot_so101/data/outputs/
lerobot_so101/data/.cache/
.DS_Store
personalreadme.md
__pycache__/
*.pyc
.vscode/
lerobot_so101/data/logs/
lerobot_so101/data/frames/
lerobot_so101/data/denoise_plots/*
lerobot_so101/data/denoise_image/
!lerobot_so101/data/denoise_plots/2026-08-26_05-22-36/
!lerobot_so101/data/denoise_plots/2026-08-27_07-08-15/
